#root {
  margin: 0 auto;
  text-align: center;
}

.banner{
  width: 100%;
  height: 650px;
  background: url(./assets/img/1920x650.svg) center/cover no-repeat;
  color: #fff;
  margin-bottom: 21px;
}

.banner-title{
  font-weight: 700;
  padding: 21px;
  font-size: 71px;
}

.banner-description{
  font-weight: 300;
  font-size: 40px;
}

/* POST */
.img-break{
  background-color: #ccc;
  height: 300px;
  width: 400px;
}

.card-img-top{
  border-radius: 20px;
  padding: 16px;
}

.read-btn{
  border: #000  solid 3px;
  border-radius: 50px;
  color: #000;
  letter-spacing: 2px;
  background-color: #fff;
  font-weight: 800;
  padding: 6px 18px;
  width: 160px;
  margin: 0 auto;
}

.read-btn:hover, 
.read-btn:focus,
.read-btn:active{
  color: #fff;
  background-color: #000 !important;
  border-color: #000 !important;
}

.read-btn:focus,
.read-btn:active{
  box-shadow:  0 2px 4px #888888;
}

.post-img{
  width: 400px;
  height: 300px;
  margin: auto;
  object-fit: cover;  
}

.card-text{
  font-size: 22px;
}

.card-text li{
  text-align: start;
  padding: 0 14px;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 600px;
  }
}

@media (max-width: 600px) {
  .banner {
    background: url("./assets/img/600x600.svg") center/cover no-repeat;
  }
}
