#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.active{
  color: #6f63ca !important;
}

.line{
  width: 640px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  left: 30px;
  top: 84px;
  padding: 0px 200px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
}

.header-text{
  padding: 60px 0;
  color: #837e7e;
  background-color: #deefff;
}

.tab-body{
  margin-top: 15px;
  padding: 16px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab-box{
  width: 700px; 
  min-height: 430px;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  position: relative;
}

.tabs-header{
  display: flex;
  flex-wrap: nowrap;     
  overflow-x: auto;
  overflow-y: hidden;   
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.tabs-header:hover {
  scrollbar-color: rgba(0,0,0,0.4) transparent;
}

.tabs-header li a{
  padding: 14px !important ;
  color: #a7a7a7;
  font-weight: 600;
}

.tabs-header li a:hover{
  color: #837e7e;
}

.tabs-header li a:focus,
.tabs-header li a:active{
  color: #837e7e;
  font-weight: 700;
}

.tab-title{
  padding: 16px 0;
}

/* accordion */
.accordion-item-title{
  padding: 16px 36px;
  cursor: pointer;
}

.accordion-item-title h2{
  line-height: 66px;
}

.accordion-item-title i {
  font-size: 16px;
  line-height: 66px;
}

.accordion-item-title:hover,
.accordion-item-title:focus,
.accordion-item-title:active{
  background-color: #f1e9fe;
}

.accordion-item-title:focus,
.accordion-item-title:active{
  opacity: 0.7;
}

.selected{
  color: #6f63ca;
}

.accordion-item-content p{
  margin-bottom: 1.5rem;
}

.accordion-item-content{
  padding: 0 36px ;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
} 

.accordion-item-content::selection{
  background: #f1e9fe;   /* màu nền */
  color: #000;
}

.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container{
  height: 100vh;
  margin-top: 200px;
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 768px)  {
  .container{
    display: flex;
    place-items: center;
    margin-top: 0;
  }
}


